.main_container{
    display: flex;
    justify-content: space-evenly;
    margin: 130px 200px;
}
h2{
    font-family: "Nunito Sans", sans-serif;
}
img{
    width: 400px;
}
button{
    width: -webkit-fill-available;
    display: flex;
}
.btn_text{
    margin: 0;
    flex-grow: 1;
}
.dot1{
    height: 25px;
    width: 25px;
    background-color: #fdd041;
    border-radius: 50%;
    display: inline-block;
}
.dot2{
    height: 25px;
    width: 25px;
    background-color: #31b4e5;
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    height: 25px;
    width: 25px;
    background-color: #db518b;
    border-radius: 50%;
    display: inline-block;
}
.dot3::selection{
    border: 2px solid #fa92be
}